.container {  display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
      "Sushi-1 Sushi-2 Sushi-3"
      "Sushi-4 Sushi-5 Sushi-6";
  }
  
  .Sushi-1 { grid-area: Sushi-1; }
  
  .Sushi-2 { grid-area: Sushi-2; }
  
  .Sushi-3 { grid-area: Sushi-3; }
  
  .Sushi-4 { grid-area: Sushi-4; }
  
  .Sushi-5 { grid-area: Sushi-5; }
  
  .Sushi-6 { grid-area: Sushi-6; }
