#cont {
    display:grid;
    grid-template-areas: 'a a'
    'b c';
    margin: 50px;
    justify-items: center;
    
}

.textoNosotros {
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 30px;
    grid-area: a;
    justify-self: center;
    
}

.imagenNosotros1{
    width: 75%;
    grid-area: b;
    

}

.imagenNosotros2{
    width: 75%;
    grid-area: c;
    
}

.contacto{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content:space-around;
   
  
}

.imagenContacto
.formContacto
{
align-items: flex-start;
}

.mensaje{
    width: 50%;
}


