.text-shadow-drop-center {
    animation: text-shadow-drop-center 0.6s both;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 50px;
}


@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
.nav.nav-tabs .nav-link.active {
    background-color: transparent;
    border: 0px solid transparent;
    
}

.nav-tabs {
    border-bottom: 0px solid transparent;
    
  }
 .nav-link {
    border: 0px solid transparent;
    
  }

  