.redes {
    background-color: #ffb376;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    
    
}

.icon{
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    align-self: flex-end;
    padding-bottom: 10px;
}

.icon1{
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    font-size: xx-large;
    color: black;
    padding-bottom: 20px;
}